<h1> Data Science Tools and Ecosystem </h1>

In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++

Some of the commonly used libraries used by Data Scientists include:

1. pandas
2. numPy
3. matplotlib
4. Seaborn
5. Scikit-learn

|Data Science Tools|
|------------------|
|Anaconda          |
|Jupyter Notebooks |
|R Studio          |
|Spyder            |
|Zeppelin.         |

<h3> Below are a few examples of evaluating arithmetic expressions in Python </h3>

In [1]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [5]:
200/60
#This will convert 200 minutes to hours by diving by 60

3.3333333333333335

**Objectives:**

List popular languages for Data Science


*   Python
*   R
*   SQL
*   Scala
*   Java
*   C++

<h3> Author </h3>
name: Nitin Dunday Mohan